@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

 body{
    background-image: linear-gradient(to bottom, #CCDDB7, #e4f7cdc4);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 15px #756b5bb6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FF8C42;
    text-align: center;
    text-shadow: 1px 1px 2px #b3602ea9 ;
}

h2{
    color: #FF3C38;
}

p{
    text-align: justify;
}